<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado Simplex</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        .table-container {
            margin-bottom: 20px;
        }
        .pivot-row {
            background-color: red;
        }
        .pivot-column {
            background-color: blue;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Resultado do Simplex</h1>
        <h2>Resultados do cálculo do Simplex:</h2>
        {% for tabela, pivot in zip(tabelas, pivots) %}
            <div class="table-container">
                <h3>Iteração {{ loop.index }}</h3>
                <table border="1">
                    <thead>
                        <tr>
                            {% for _ in tabela[0] %}
                                <th>Coluna {{ loop.index }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in tabela %}
                            <tr class="{{ 'pivot-row' if loop.index0 == pivot[0] else '' }}">
                                {% for val in row %}
                                    <td class="{{ 'pivot-column' if loop.index0 == pivot[1] else '' }}">{{ val }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
</body>
</html>
